{% extends "templates/base.twig" %}

{% block title %}Requests{% endblock %}

{% block body %}
<div>
<button onclick="window.location='/admin/books'">Back to Admin Dashboard </button>
    <h2>Resolve requests</h2>

    <table border="2">

    <tr>
        <th>ID</th>
        <th>Books</th>
        <th>Author</th>
        <th>Enrolment Number</th>
        <th>Request type</th>
        <th>Copies available</th>
        <th></th>
        <th></th>
    </tr>

    {% for request in requests %}
    
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.name}}</td>
        <td>{{request.author}}</td>
        <td>{{request.enrolmentNumber}}</td>
        <td>{{request.req}}</td>
        <td>{{request.available}}</td>
        <td><button 
            id="accept-btn" onclick="acceptId({{request.id}}, {{request.type}}, {{request.enrolmentNumber}}, {{request.available}})">
            Accept</button></td>
        <td><button 
            id="deny-btn" onclick="denyId({{request.id}}, {{request.status}}, {{request.enrolmentNumber}})">
            Deny</button></td>
    </tr>
    
    {% endfor %}

    </table>
</div>
{% endblock %}
