{% extends "templates/base.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
<div>

    <button onclick="window.location='/admin/books/add'">Add books</button>
    <button onclick="window.location='/admin/requests'">Resolve requests</button>

    <br /><br />

    <h2>List of books</h2>

    <table border="2">

    <tr>
        <th>ID</th>
        <th>Books</th>
        <th>Author</th>
        <th>Total copies</th>
        <th>Copies available</th>
       
    </tr>

    {% for book in books %}
  
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.copies}}</td>
            <td>{{book.available}}</td>
            

            <td><button onclick="plus({{book.id}}, {{book.copies}}, {{book.available}})">+1</button></td>
            <td><button onclick="minus({{book.id}}, {{book.copies}}, {{book.available}})">-1</button></td>
            <td><button onclick="remove({{book.id}})">Remove book</button></td>
        </tr>
  
    {% endfor %}

    </table>

    <br />
    
    <button class="logout-btn" onclick="window.location='/signin/logout'">Logout</button>

</div>
{% endblock %}
